<div id="global-div-chat" class="m-2">
    <div class="container text-center">
        <div class="m-2">
            Username: <span id="currentUsername"><strong>
                {{#if user}}{{user.first_name}}_{{user.last_name}}{{else}}Anonymous{{/if}}
            </strong></span>
        </div>
    </div>
    <div class="container-fluid d-flex flex-column flex-grow-1 vh-100 overflow-hidden">
        <div class="row flex-grow-1 overflow-hidden">
            <div class="col mh-100 overflow-auto py-2" id="chat-div">
            </div>
        </div>
    </div>
    <form>
        <div class="mb-3">
            <label for="messageInput" class="form-label">Write a message:</label>
            <input type="text" class="form-control" id="messageInput">
            <input type="hidden" id="usernameInput" value="{{#if user}}{{user.first_name}}_{{user.last_name}}{{else}}Anonymous{{/if}}">
        </div>
        <button id="btn-send-message" class="btn btn-secondary">Send</button>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/livechat.js"></script>