<h1>Products List</h1>
<u1>
    {{#each .}}
    <li>ID: {{id}}</li>
    <li>Title: {{title}}</li>
    <li>Description: {{description}}</li>
    <li>Price: {{price}}</li>
    <li>Code: {{code}}</li>
    <li>Status: {{status}}</li>
    <li>Stock: {{stock}}</li>
    <li>Category: {{category}}</li>
    {{/each}}
</u1>