<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/logo.png" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">eStorage Products</h1>
    <div class="col-lg-6 mx-auto">
        {{#if user}}
        <p class="lead mb-4">Welcome back, <code>{{user.first_name}} {{user.last_name}}</code>! We're glad to see you again.<br>
            Your role is: <code>{{user.role}}</code> {{#if isPremium}}<img src="/images/premium.png" alt="Premium" width="20" height="20">{{/if}}.{{#unless isAdmin}}<br>
            Your last connection was: <code>{{user.last_connection}}</code>{{/unless}}
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/products">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Browse movies</button>
            </a>
            <a href="/profile">
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">See profile</button>
            </a>
        </div>
        {{else}}
        <p class="lead mb-4">Welcome to our movie sales page! Here you'll find a selection of the best movies of all
            time, from classic films to the latest and most acclaimed productions. With our wide range of titles, we're
            confident you'll find something you'll love. So if you're a
            movie lover, look no further! Explore our selection and find your next favorite movie today!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/register">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Sign up!</button>
            </a>
            <a href="/login">
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Log in</button>
            </a>
        </div>
        {{/if}}
    </div>
</div>