<div class="alert alert-dark m-2" role="alert">
    <strong>ID: {{product._id}}</strong><br>
    <strong>Title: {{product.title}}</strong><br>
    Description: {{product.description}}<br>
    Price: <code>${{product.price}}</code><br>
    Code: <code>{{product.code}}</code><br>
    Status: {{product.status}}<br>
    Stock: <code>{{product.stock}}</code><br>
    Category: {{product.category}}<br>
    Thumbnails:{{#each product.thumbnails}} {{this}};{{/each}}<br>
</div>
{{#if user}}
<div class="m-2">
    <button type="submit" id="addToCart-{{_id}}" class="btn btn-outline-success mb-2">
        <script>
            document.getElementById("addToCart-{{_id}}").addEventListener("click", function () {
                addToCart("{{product._id}}");
            });
        </script>
        <img src="/images/cart-box.png" alt="eStorage Products" width="30" height="24">
        Add to Cart
    </button>
</div>
{{/if}}
<!-- Toast -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="toastAddToCart" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Product added to cart successfully!
        </div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="toastAddToCartFail" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            Product could not be added to cart!
        </div>
    </div>
</div>
<script src="/js/cartManagement.js"></script>