<div class="row m-2">
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-body text-center">
                {{#if isAdmin}}
                <img src="/images/admin-icon.png" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                {{else}}
                <img src="/images/user-icon.png" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                {{/if}}
                <h5 class="my-3">{{user.first_name}} {{user.last_name}} {{#if isPremium}}<img src="/images/premium.png" alt="Premium" width="20" height="20">{{/if}}</h5>
                <p class="text-muted mb-1"><code>Role: {{user.role}}</code></p>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">First Name</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user.first_name}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Last Name</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user.last_name}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Age</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user.age}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{user.email}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>